.container {
  height: 100vh;
  background-color: #1ba1ad;
  background-image: url(/asset/bg-pattern-top.svg);
  background-image: url(/asset/bg-pattern-bottom.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
hr {
  border: none;
  height: 1px;
  background-color: lightgray;
}
h1 {
  margin-bottom: 0px;
  span {
    color: #cccccc;
  }
}
p {
  margin-top: 0px;
}
.patterncard {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card {
  background-color: white;
  padding-bottom: 30px;
  border-radius: 10px;
}
.backgrounddiv {
  background-color: black;
  height: 100px;
  border-radius: 10px;
}
.image {
  border-radius: 50px;
  border-color: white;
}
.lowersection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.lower {
  display: flex;
  flex-direction: column;
  align-items: center;

  small {
    color: #cccccc;
  }

  b {
    font-weight: 900px;
    margin-bottom: 5px;
    margin-top: 20px;
  }
}
